# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.log
.pytest_cache/
nosetests.xml
coverage-report/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the binary.
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pylint
pylint-report.txt
pylint.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual Environment
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# MacOS Files
.DS_Store

# VS Code Extension
.vscode/


*\__pycache__
#python defaults
*.pyc
*.pyo
*.pyd

test.ipynb

*\__pycache__